---
Language: C++
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
TabWidth: 4
AllowAllFunctionsOnOneLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStmts: false
AllowShortLambdasOnOneLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelOnOneLine: false
AllowShortCommentsOnASingleLine: false
AllowShortControlStmtsOnASingleLine: false
AllowShortLeadingBodyOnOneLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterOuterRangeFor: false
AlwaysBreakBeforeColon: false
AlwaysBreakTemplateDeclarations: true
AllowShortCaseLabelsOnOneLine: false
BreakBeforeBraces: Custom
BreakBeforeReturns: true
BreakConstructorInitializers: true
BreakInheritanceLists: true
BreakBeforeThrowStatement: true
BreakBeforeTernaryOperator: false
BreakBeforeTernaryParentheses: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlusOperators: false
BreakConstructorInitializersAfter: Comma
BreakInheritanceListsAfter: Comma
BreakStringLiterals: false
BreakStringLiteralsAfter: Comma
BreakBeforeCatch: true
BreakBeforeCtorInitColons: true
BreakBeforeDot: false
BreakBeforeDotOperators: false
BreakBeforeRangeFor: false
BreakBeforeReturn: false
BreakBeforeSemicolon: false
BreakBeforeScope: false
BreakBeforeSemicolonColon: false
BreakBeforeSemicolons: false
BreakBeforeSwitchCase: false
BreakBeforeTry: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
BreakInheritanceListAfter: Comma
BreakLambdaCapturesAfter: Comma
BreakLambdaCapturesBefore: Comma
BreakBeforeTernaryOperators: false
BreakBeforeTernary: false
BreakBeforeTernaryOperators: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlus: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
BreakInheritanceListAfter: Comma
BreakLambdaCapturesAfter: Comma
BreakLambdaCapturesBefore: Comma
BreakBeforeTernaryOperators: false
BreakBeforeTernary: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlus: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
BreakInheritanceListAfter: Comma
BreakLambdaCapturesAfter: Comma
BreakLambdaCapturesBefore: Comma
BreakBeforeTernaryOperators: false
BreakBeforeTernary: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlus: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
BreakInheritanceListAfter: Comma
BreakLambdaCapturesAfter: Comma
BreakLambdaCapturesBefore: Comma
BreakBeforeTernaryOperators: false
BreakBeforeTernary: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlus: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
BreakInheritanceListAfter: Comma
BreakLambdaCapturesAfter: Comma
BreakLambdaCapturesBefore: Comma
BreakBeforeTernaryOperators: false
BreakBeforeTernary: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlus: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
BreakInheritanceListAfter: Comma
BreakLambdaCapturesAfter: Comma
BreakLambdaCapturesBefore: Comma
BreakBeforeTernaryOperators: false
BreakBeforeTernary: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlus: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
BreakInheritanceListAfter: Comma
BreakLambdaCapturesAfter: Comma
BreakLambdaCapturesBefore: Comma
BreakBeforeTernaryOperators: false
BreakBeforeTernary: false
BreakBeforeUnaryOperators: false
BreakBeforeUnaryPlus: false
BreakBeforeUnaryMinus: false
BreakBeforeWhile: false
BreakBeforeWhileStmt: false
BreakBeforeUsing: false
BreakBeforeUsingDirectives: false
