---
BasedOnStyle: LLVM
AccessModifierOffset: -8
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignArrayOfStructures: Left
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: AllDefinitions
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
ColumnLimit: 100
DerivePointerAlignment: false
IndentCaseLabels: false
IndentWidth: 4
InsertBraces: true
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never
...
