---
Checks: >
  -*,
  clang-analyzer-*,
  performance-*,
  bugprone-sizeof-expression,
  bugprone-suspicious-string-compare,
  -performance-no-int-to-ptr,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-core.FixedAddressDereference,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-valist.Uninitialized

WarningsAsErrors: '*'
HeaderFilterRegex: '(src/|include/).*'
FormatStyle: none
